


.box{
   width: 100%;
 
   margin: auto;
    
   
    
}
h3{
    padding-top: 10px; 
  color: white;
 font-weight: bolder;
  text-align: center;
 
}
.btun{
    background-color: rgb(85, 17, 17);
    color: white;
    
    
    margin-top: 10px;
    font-weight: bold;
}
p{
    text-align: center;
}

.b{
    border: none;
    color: black;
    background-color:white;
    
}
.c{
    width: 60%;
    background-color: white;
    border: none;
    margin-left: 20%;
    padding-left: 20px;
   
}
